<!DOCTYPE html>
<head>
<meta charset='utf-8'>
<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<meta content='Jeux créé à l ENI' name='description'>
<meta content='tron, jeux, jeux http' name='keywords'>
<title>{% block title %}Welcome to TimTron!{% endblock %}</title>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
{% block stylesheets %}{% endblock %}

<link href="{{ asset('favicon.ico') }}" rel="shortcut icon" />
<link href="" media="screen" rel="stylesheet" type="text/css" />
<script src="" type="text/javascript"></script>
</head>
<body>
{% block body %}{% endblock %}
<script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
