{% extends '::base.html.twig' %}
{% block body %}
<div class="container">

  <div class="alert alert-error">
    {% if error %}{{ error.message }}{% endif %}
  </div>

  <form action="{{ url('login_check') }}" method="post">
    <label for="username">Login :</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="_password" />
    <br />
    <input type="submit" value="Connexion" />
  </form>
</div>
{% endblock %}
